__pycache__/
*.py[cod]
*.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.mypy_cache/
.pytest_cache/
.ruff_cache/
*.swp
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
dist/
build/
compile_commands.json
*.egg-info/
.codex/
.claude/
.gemini/

tmp/

# pixi environments
.pixi/*
!.pixi/config.toml
